<div class="d-flex justify-content-center">
    <a class="navbar-brand d-flex align-items-center gap-3" >
        <img src="/images/fpt.png" height="35">
        <img src="/images/fpt_camera.png" height="40">
        <img src="/images/fpt_internet.png" height="40">
        <img src="/images/fpt_pay.png" height="40">
        <img src="/images/fpt_play.png" height="40">
        <img src="/images/fpt_playbox.png" height="40">
        <img src="/images/fpt_pro.png" height="40">
        <img src="/images/fpt_smarthome.png" height="40">
    </a>
</div>